<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <h4 class="modal-title">{{title}}</h4>
    </div>
    <div class="modal-body">
      <div *ngIf="sessionStorage.getItem(global.USER)">
        <p *ngFor="let str of msg.split(',')">{{str}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="close()">New Game</button>
      </div>
    </div>
  </div>