<h1>Choose partner</h1>
<div class="row">
    <div class="col-5">
        <table class='table table-striped'>
            <thead>
                <tr>
                    <th>name</th>
                    <th>age</th>
                    <th>choose</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of listChoosePartners">
                    <td>{{user.UserName}}</td>
                    <td>{{user.Age}}</td>
                    <td>
                        <button (click)="choosePartner(user)">choose</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<p *ngIf="!listChoosePartners">there isn't any one waiting!</p>