<div id="game">
    <div class="row">
        <div class="col-md-6 container">
            <div class="rectangle">
                <span>Current player name: {{game.currentTurn}}</span>
            </div>
        </div>
        <div class="col-md-6 container">
            <div class="rectangle">
                <span>Current game matching sets</span>
                <span>Your counter:{{userSetsCounter}}</span>
                <span *ngIf="user">{{user.partnerUserName}} counter: {{partnerSetsCounter}}</span>
            </div>
        </div>
    </div>
    <app-board *ngIf="game.cardArray" [cards]="game.cardArray" [isEnable]="game.currentTurn==sessionStorage.getItem(global.USER)"
        (checkMatchingEvent)="checkMatchingHandler($event)"></app-board>
</div>