<div class="container">
        <header>
            <h1>Matching Game</h1>
        </header>
        <p>your name: {{currentUser.UserName}} </p>
        <p> your partner: {{currentPartner.UserName}}</p>
        <p>currect player now {{PlayerNow}}</p>
        <p>your points {{currentUser.counterUser1}}</p>
        <p>partner points {{currentPartner.counterUser2}}</p>
    
        <section class="gameboard">
            <ul>
                <li *ngFor="let card of listRandomCardsFix;let i=index">
                    <button [disabled]="currentUser.UserName!=PlayerNow || card.value!=null" (click)="clicked(card)" data-value={{i}}>
                        <p *ngIf="card.value==null">?</p>
                        <p *ngIf="card.value!=null" ng-class="{background-color:blue}"> {{card.key}}</p>
                    </button>
                </li>
            </ul>
    
    
        </section>
    </div>
    